@import url(reset.css);
@import url(common.css);


.modal{
    position: fixed;
    top: 95px;
    left: 35px;

    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 250px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 999;
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    
    box-shadow: 0px 0px 22px -7px rgba(0,0,0,0.22);
}
.modal p{
    padding: 50px 20px;
}
.modal div{
    background-color: #252525;
    color: #fff;
    padding: 20px;
    cursor: pointer;
}




/* 헤더 */

header {
    width: 100%;
    background-color: white;
    z-index: 99;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    padding-left: 20px;
}
.header .menu-btn{
    margin: 6px 10px;
    cursor: pointer;
}

.header img {
    width: 150px;
}
.menu-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
header nav ul {
    display: flex;
    font-weight: 700;
}

.header nav ul li {
    padding: 30px 20px;
}

header .user {
    display: flex;
    font-size: 14px;
}

.header .user li {
    position: relative;
}

.header .user li:first-child {
}

.header .user li:first-child a {
    background-color: #00aa91;
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
}

.header .user li::after {
    position: absolute;
    content: '';
    width: 1px;
    background: #e9e9e9;
    height: 20px;
    top: -2px;
}

.header .user li:last-child::after {
    display: none;
}

.header .user li a {
    margin: 0 10px;
}

.header .menu-btn {
    display: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #00aa91;
    color: white;
}

/* \\헤더 */

.container {
    width: 100%;
}


/* 콘텐츠01 */

.content01{
    background: linear-gradient(0deg, rgba(0,255,245,1) 0%, rgba(122,114,255,1) 100%);
}

.content01Wrap {
    width: 70%;
    margin: 0 auto;
    padding: 185px 0 100px 0;
    color: white;
}

.bnText p {
    line-height: 25px;
}

.bnText h4 {
    margin-top: 10px;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}

.bnText h4 .pink {
    color: rgb(228, 0, 209);
}

.bnText h4 .purple {
    color: rgb(127, 59, 195);
}

.bnText .bnPurple {
    font-weight: 700;
    color: rgb(127, 59, 195);
}

.content01Wrap .bnBtn {
    margin: 50px 0;
    padding: 15px;
    font-size: 14px;
    width: 80px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
}

.content01Wrap .bnBtn a {
    color: white;
}

.content01Wrap .slider {
    margin-top: 100px;
    color: black;
}

.content01Wrap .slider span {
    padding: 0 10px;
}

/* 슬라이드 */

.main-slide .swiper-slide{
    width: 100%;
    height: 630px;
}
.swiper-slide{
    background-position: center;
}
.main-slide .bg01{
    background: url(../img/bg_visual_20.jpg) center;
}
.main-slide .bg02{
    background: url(../img/bg_visual_22.jpg) center;
}
.main-slide .bg03{
    background: url(../img/bg_visual_24.jpg) center;    
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide-int{
      position: absolute;
      top: 85%;
      width: 100%;
      z-index: 90;
  }
  .slide-btn{
      padding: 20px 30px;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
  }
  .control{
      display: flex;
      align-items: center;
  }
  .main-slide .control,
  .slide-wrap{
      width: 950px;
      margin: 0 auto;
  }
  .main-slide .slide-btn{
      position: absolute;
      top: 55%;
  }
  .sub-slide .control{
      margin-left: 5%;
  }

  .sub-slide .slide-btn{
      position: absolute;
      bottom: 30%;
      left: 5%;
  }
  .bg03 .slide-btn{
      border: none;
      background-color: #00aa91;
      left: 50%;
      top: unset;
      bottom: 10%;
      transform: translateX(-50%);
  }
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination{
    position: unset;
    top: unset;
    margin-top: unset;
    width: unset;
    height: unset;
    bottom: 0;
    color: #000;
  }
  .swiper-pagination{
      padding: 0 20px;
      flex-shrink: 0;
  }
  .swiper-button-prev::after{
    display: none;
  }
  .swiper-button-next::after{
    display: none;
  }

  .sub-slide{
    display: none;
}

/* 콘텐츠02 */

.content02 {
    background-color: white;
    border-bottom: 1px solid gray;
}

.content02Wrap {
    display: flex;
    align-items: center;
    width: 950px;
    margin: 0 auto;
}

.content02 .content02Wrap p {
    display: inline-block;
    font-weight: 800;
}

.content02Wrap .fa-volume-down {
    display: none;
}

.content02 .content02Wrap span {
    display: inline-block;
    padding: 20px 40px;
    color: #666;
}

/* 콘텐츠03 */

.content03 {
    text-align: center;
    padding: 100px 0;
    border-bottom: 1px solid gray;
}

.content03 h3 {
    font-size: 32px;
    font-weight: 500;
}

.content03 ul {
    width: 65%;
    height: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.content03 ul li {
    width: 30%;
    display: inline-block;
}

/* .content03 ul li .listImg {
    height: 15rem;
    margin-bottom: 10px;
}

.content03 ul li .listImg01 {
    background: url(../img/bg_regular_01.png) no-repeat center;
    background-size: contain;
}
.content03 ul li .listImg02 {
    background: url(../img/bg_regular_02.png) no-repeat center;
    background-size: contain;
}
.content03 ul li .listImg03 {
    background: url(../img/bg_regular_03.png) no-repeat center;
    background-size: contain;
} */

.content03 ul li img {
    width: 100%;
    max-width: 200px;
    object-fit: contain;
}

.content03 ul li h6 {
    font-size: 20px;
}

.content03 ul li p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.content03 .c3Btn {
    margin: 60px auto 0 auto;
    background-color: #00aa91;
    padding: 20px 30px;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.content03 .c3Btn a {
    background-color: #00aa91;
    color: white;
    font-size: 16px;
    font-weight: 800;
}

/* 컨텐츠04 */

.content04 {
    padding: 80px 0;
    border-bottom: 1px solid gray;
}

.content04 h3 {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 60px;
}

.content04 h3 span {
    font-weight: 700;
}

.content04 h3 br {
    display: none;
}


.point{
    position: absolute;
    width: 32px;
    height: 32px;
}
.point1{
    top: 125px;
    left: 125px;
}
.point2{
    top: 170px;
    left: 30px;
}
.point3{
    top: 320px;
    left: 40px;
}
.point4{
    top: 370px;
    left: 120px;
}

.point .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 171, 107, 0.12);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	animation: record-lg 1.5s ease-in-out infinite;

    z-index: 90;
}
.point .bg:before {
	position: absolute;
	top: 50%;
	left: 50%;
	content: "";
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	background-color: rgba(0, 171, 107, 0.2);;
	-webkit-border-radius: 50% !important;
	border-radius: 50% !important;
}
@keyframes record-lg {
	0% {
		opacity: 0;
		transform: scale(.5);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
.point .dot {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	margin-left: -4px;
	background-color: #00ab6a;
	border-radius: 50%;
	animation: dot-effec 1.5s ease-in-out infinite;
}
@keyframes dot-effec {
	0% {
		opacity: .5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: .5;
	}
}
.point1 .dot::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 130px;
    height: 1px;
    background-color: #999;
    z-index: -1;
}
.point2 .dot::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 90px;
    height: 1px;
    background-color: #999;
    z-index: -1;
}
.point3 .dot::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 160px;
    height: 1px;
    background-color: #999;
    z-index: -1;
}
.point4 .dot::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 190px;
    height: 1px;
    background-color: #999;
    z-index: -1;
}


.content04 .introduce {
    position: relative;
    text-align: center;
    /* width: 60%;
    margin: 0 auto; */
}

.content04 .introduce .introduceBox p {
    font-size: 20px;
}

.content04 .introduce .introduceBox span {
    color: #00aa91;
}

.icon {
    width: 70px;
    height: 70px;
    background-color: #00aa91;
    margin: 0 15px;
}

/* .content04 .introduce .introduceBox01::before {
    content: '';
    width: 80px;
    height: 1px;
    background-color: gainsboro;
    transform: translateX(15px);
} */

.introduceBox01 {
    width: 270px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 60%;
    text-align: left;
    z-index: 5;
}

.introduceBox01 .icon {
    background: url(../img/icon01.png) no-repeat ;
}

.introduceBox02 p .iconBr {
    display: none;
}

.introduceBox02 {
    width: 370px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    top: 150px;
    right: 58%;
    text-align: right;
    z-index: 5;
}

.introduceBox02 .icon {
    background: url(../img/icon02.png) no-repeat ;
}

.introduceBox03 {
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    top: 300px;
    right: 62%;
    text-align: right;
    z-index: 5;
}

.introduceBox03 .icon {
    background: url(../img/icon03.png) no-repeat ;
}

.introduceBox04 {
    width: 200px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 350px;
    left: 65%;
    text-align: left;
    z-index: 5;
}

.content04 .introduce .introduceBox04 .icon {
    background: url(../img/icon04.png) no-repeat ;
}

.content04 .introduceImg {
    width: 180px;
    padding: 270px 0;
    margin: 0 50%;
    transform: translateX(-50%);
    background: url(../img/bg_bottle.png) no-repeat bottom;
    z-index: -999;
}

/* 컨텐츠 05 */

.content05 {
    margin: 100px auto;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.c5Box {
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}

.c5Box a {
    display: block;
    padding: 30px;
    width: 400px;
}

.c5Box h6 {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 30px;
}

.c5Box p {
    color: #999;
}

.c5Box01 {
    background: url(../img/bn_order01.png) no-repeat right bottom;
    background-position-x: 92%;
}

.c5Box02 {
    background: url(../img/bn_order02.png) no-repeat right bottom;
    background-position-x: 92%;
}

/* 컨텐츠06 */

.content06 {
    text-align: center;
    position: relative;
}

.content06 {
    background: url(../img/bg_down.jpg) no-repeat center;
    height: 630px;
}

.content06 h4 {
    padding: 80px;
    font-size: 32px;
    font-weight: 500;
}

.content06 h4 br {
    display: none;
}

.download a {
    display: inline-block;
    margin: 0 10px;
}


.move-top{
    position: fixed;
    bottom: 90px;
    right: 160px;
    border: none;
    border-radius: 100%;
    background-color: #111;
    color: #fff;
    width: 65px;
    height: 65px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.move-top-ab{
    position: absolute;
    bottom: 50px;
}

/* 푸터 */

footer {
    background-color: #111;
}

footer .content07 {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 14px;
}

footer .content07 ul {
    display: flex;
    position: relative;
}

footer .content07 ul li {
    padding: 10px;
    position: relative;
}

footer .content07 ul li:first-child {
    padding-left: 0;
}

footer .content07 ul li::after {
    content: '';
    position: absolute;
    top: 13px;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: #666;
}

footer .content07 ul li a {
    color: white;
}

footer .content07 .footerInfo {
    margin: 30px 0;
    color: #999;
}

footer .content07 span {
    color: #666;
}
